body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow: hidden;
}
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.navbar {
  background-color: white;
  padding: 10px 40px;
}
.nav-link {
  font-size: 1.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.flip-card {
  background-color: transparent;
  width: 30rem;
  height: 20rem;
  perspective: 1000px;
  border-radius: 30px;
  margin: 10px 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
  border-radius: 30px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 30px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gradient-black);
  color: white;
  transform: rotateX(180deg);
  border-radius: 30px;
  padding: 10px;
}
.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-transform: uppercase;
  align-self: center;
  width: 100%;
}

.btnfos-1 {
  background: transparent;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
/* animation */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
}
