{% load static %}

<!DICTYPE html> <!--it inform browser that the document type is HTML    -->
<html>			<!-- wraps all content -->
	<head>
		<meta cherset="utf-8">				<!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
		<title>Innovation Skyline</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css' %}">	
		<!--Adding css file related to this web pages  -->
	</head>
	<body class="for_wraping_resistence">		<!--contains all content you want to show visitors-->
		<header id="top-part">
			<a href="index.html" target="_self"> HOME </a>
			<a href="games.html" target="_self"> GAMES </a>
			<a href="about_us.html" target="_self"> ABOUT US  </a>	
		</header>
		<div class="content">
			<a href="https://www.iitgoa.ac.in/" target="_blank"> <img src="{% static 'Images/iit_goa2.png' %}" alt="check"/><h2>Indian Institute Of Technology Goa(IIT GOA)</h2></a>
			<h2>Mentered BY-IIT GOA Professor</h2>
			<h3>Devoloped By-IIT GOA Students</h3>
			<ul>
				<li>SANJAY MARREDDI</li>
				<li>RISHABH TRIPATHI</li>
				<li>SNEHA JAYGANTHAN </li>
				<li>PRAKHAR MATHUR</li>
				<li>KHUSHBOO GUPTA</li>
				<li>ASHUTOSH SAXENA</li>
			</ul>
		</div>
	</body>
</html>