{% load static %}

<!DOCTYPE html>
<!--it inform browser that the document type is HTML    -->
<html>
  <!-- wraps all content -->
  <head>
    <meta cherset="utf-8" />
    <!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
    <title>Innovation Skyline</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/variables.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/front_web_1.css' %}"
    />

    <!--Adding css file related to this web pages  -->
  </head>
  <body class="main__div">
    <!--contains all content you want to show visitors-->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="navbar__left">
          <a class="navbar-brand" href="front_web_1.html">Innovation Skyline</a>
        </div>
        <div class="navbar__right">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="front_web_1.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="game_page.html">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about_us.html">About Us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- TOp COntent  -->
    <div class="top__content">
      <div class="top__left">
        <h1 class="website__title__text">Supreme Physical Gamer</h1>
      </div>
      <div class="top__right">
        <div class="tagline__div">
          <p class="tagline__text">
            Integrating online games with physical fitness.
          </p>
        </div>
        <div class="top__img__div">
          <img
            src="{%static 'Images/bubbles.jpg' %}"
            alt="bubbles"
            class="top__img"
          />
        </div>
      </div>
    </div>

    <!-- Middle Content  -->
    <h2 class="for-centre kl">Motivation</h2>
    <p id="check">
      “We can’t compromise on Health by playing Online Games. But we can’t
      compromise on the enjoyment aspect as well.<br />
      Is there a way to integrate both of them ?”
    </p>
    <centre>
      <img class="abc" src="{% static 'Images/img123.png' %}" alt="" />
      <img class="abc" src="{% static 'Images/img1234.png' %}" alt="" />
      <img class="abc" src="{% static 'Images/img12345.png' %}" alt="" />
    </centre>
    <p id="check">
      <strong>Yes,</strong> <br />This site is the way to fulfill your dream of
      getting that well toned body while still having fun.
    </p>

    <!-- Bottom COntent  -->
    <h2 class="for-centre kl">How it works</h2>
    <centre>
      <p id="check">
        Click the link above and you would be directed to the game selection
        window.
      </p>
      <p id="check">Choose the game you want to play .</p>
      <p id="check">You would be directed to the instructions.</p>
    </centre>

    <article id="gh">
      <!--
        <section id="high" class ="er">
          <h3 class="for-centre"> Target</h3>
          <p>Building an innovative online gaming platform that integrates video gaming with varied levels of physical activity, providing users a unique and a flexible gaming experience thereby ensuring physical fitness at the same time.
             Users would have a choice to toggle between digital and physical modes of playing the individual games.
          </p>
        </section>-->
      <section class="er">
        <h2 class="for-centre">Demo video</h2>
        <iframe
          width="400"
          height="250"
          src="https://drive.google.com/file/d/1CQNntnyrqYKYzrreXo_ePQw2bOsCo6Cl/view?usp=sharing"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
    </article>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
</html>
