{% load static %}

<!DOCTYPE html>
<!--it inform browser that the document type is HTML    -->
<html>
  <!-- wraps all content -->
  <head>
    <meta cherset="utf-8" />
    <!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
    <title>Innovation Skyline</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/variables.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/front_web_1.css' %}"
    />

    <!--Adding css file related to this web pages  -->
  </head>
  <body class="main__div">
    <!--contains all content you want to show visitors-->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="navbar__left">
          <a class="navbar-brand" href="front_web_1.html">Innovation Skyline</a>
        </div>
        <div class="navbar__right">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="front_web_1.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="game_page.html">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about_us.html">About Us </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- TOp COntent  -->
    <div class="top__content">
      <div class="top__left">
        <h1 class="website__title__text">Supreme Physical Gamer</h1>
      </div>
      <div class="top__right">
        <div class="tagline__div">
          <p class="tagline__text">
            Integrating online games with physical fitness.
          </p>
        </div>
        <div class="top__img__div">
          <img
            src="{%static 'Images/bubbles.jpg' %}"
            alt="bubbles"
            class="top__img"
          />
        </div>
      </div>
    </div>

    <!-- Middle Content  -->
    <div class="middle__content">
      <h2 class="middle__motivation__text">Motivation</h2>
      <div class="question__answer__div">
        <div class="question__div">
          <p class="question__p">
            “We can’t compromise on Health by playing Online Games. <br />We
            can’t compromise our enjoyment as well.<br />
            Is there a way to integrate both of them ?”
          </p>
        </div>
        <div class="answer__div">
          <strong>Yes</strong>
          <p class="answer__p">
            This site is the way to fulfill your dream of getting that well
            toned body while still having fun.
          </p>
        </div>
      </div>
    </div>

    <!-- Bottom COntent  -->
    <div class="bottom__content">
      <div class="bottom__left__div">
        <p class="how__it__works">How it works</p>
        <div class="instruction__list">
          <div class="instruction__item">
            <p class="number">1</p>
            <p class="instruction__text">
              Click the link above and you will go to the games page.
            </p>
          </div>

          <div class="instruction__item">
            <p class="number">2</p>
            <p class="instruction__text">Choose the game you want to play .</p>
          </div>
          <div class="instruction__item">
            <p class="number">3</p>
            <p class="instruction__text">
              You would be directed to the instructions.
            </p>
          </div>
          <div class="instruction__item">
            <p class="number">4</p>
            <p class="instruction__text">Game on.</p>
          </div>
        </div>
      </div>

      <div class="bottom__right__div">
        <h2 class="demo__video__text">Demo video</h2>

        <iframe
          src="https://drive.google.com/file/d/1x0y8L1mmdT3CuxD-SQ1e5GF9wgQqkqcI/preview"
          class="video__frame"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
</html>
