<!DICTYPE html> <!--it inform browser that the document type is HTML    -->
<html>			<!-- wraps all content -->
	<head>
		<meta cherset="utf-8">				<!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
		<title>Innovation Skyline</title>
		<link rel="stylesheet" type="text/css" href="css/game_page.css">	
		<!--Adding css file related to this web pages  -->
	</head>
	<body class="for_wraping_resistence">		<!--contains all content you want to show visitors-->
		<header id="top-part">
			<a href="front_web_1.html" target="_self"> HOME </a>
			<a href="game_page.html" target="_self"> GAMES </a>
			<a href="about_us.html" target="_self"> ABOUT US  </a>	
		</header>
		<main class="container">
			<div class="card">
				<img class="image-resize" src="Images/image_3.jpg" alt="put correct images"/>
				<div class="content">
					<h1>Are You Ready<h1>
					<h2>For playing Mortal Combat</h2>
					<a class="btn" href="slidding_web_mortal.html">Click</a>
				</div>
			</div>
			<div class="card">
				<img class="image-resize" src="Images/image_4.jpg" alt="put correct images"/>
				<div class="content">
					<h1>Are You Ready<h1>
					<h2>For playing Car Racing</h2>
					<a class="btn" href="slidding_web_car.html">Click</a>
				</div>
			</div>
		</main>
	</body>
</html>