{% load static %}

<!DICTYPE html> <!--it inform browser that the document type is HTML    -->
<html>			<!-- wraps all content -->
	<head>
		<meta cherset="utf-8">				<!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
		<title>Innovation Skyline</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/front_web_1.css' %}">	
		<!--Adding css file related to this web pages  -->
	</head>
	<body class="for_wraping_resistence">		<!--contains all content you want to show visitors-->
		<header id="top-part">
			<a href="index.html" target="_self"> HOME </a>
			<a href="game_page.html" target="_self"> GAMES </a>
			<a href="about_us.html" target="_self"> ABOUT US  </a>	
		</header>
		<canvas id=c></canvas>
		<script type="text/javascript" src="{% static 'javascript/app.js' %}"></script>
		<main>
			<h1 id="cetre">Supreme Physical Gamer</h1>
			<h2><marquee width="100%" height="5%" direction="right" bgcolor="green" behavior="alternate">Integrating online games with physical fitness.</marquee></h2>
		</main>
		<h2 class="for-centre kl"> Motivation</h2>
		<p id="check"> Nowadays, it is very hard to find people who are away from their Phones/Laptops for more than half an hour be it  Kids, Adults, Middle aged, or even the elderly. Electronic gadgets and its salient features 
			like mobile apps and in-built video games have become subjected  to frequent and long durational use since they provide recreation, fun and enjoyment.Let’s take the use of ONLINE GAMES. Well, there are few 
			positive effects like helping in managing stress and providing relaxation but the adverse effects of playing ONLINE GAMES (Android/Web/Video Games) for long duration outweigh the positive ones.
			According to WHO, People who remain physically inactive for long periods because of gaming may suffer with  gaming disorders linked with anxiety, depression, stress, Alexithymia and also be at 
			higher risk of obesity, Eye Strain, sleep disorders, and other health-related issues.Moreover According to Statista, the number of active gamers worldwide will rise to more than 2.7 billion people in 2021.
			Assuming only 0.01% of people develop conditions of muscle which costs at least $2 to $200 in critical cases, about 0.48 Million dollars to 48 Million dollars is used up in only treating pains caused due to gaming.
			People usually tend to ask “We can’t compromise on Health by playing Online Games. But we can’t compromise on the enjoyment aspect as well. Is there a way to integrate both of them ?”.
		</p>
		<article id="gh">
			<section id="high" class ="er">
				<h3 class="for-centre"> Target</h3>
				<p>Building an innovative online gaming platform that integrates video gaming with varied levels of physical activity, providing users a unique and a flexible gaming experience thereby ensuring physical fitness at the same time. 
				   Users would have a choice to toggle between digital and physical modes of playing the individual games.
				</p>
			</section>
			<section class ="er">
				<h2 class="for-centre">Demo video</h2>
				<iframe width="400" height="250" src="https://www.youtube.com/embed/NP0lUqNAw3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			</section>
		</article>
		
	</body>
	
</html>
